<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<title>Berargumen</title>

	<link rel="stylesheet" href="/builds/css/bootstrap.css">
	<link rel="stylesheet" href="/builds/css/smt-bootstrap.css">
	<link rel="stylesheet" href="/builds/css/taggle.css">
	
	<style>
		.panel-body {
			border-radius: 1000px;
		}

		footer{
			background: rgb(23,30,38);
			padding: 60px 20px;
		}

		footer ul, footer p{
			margin-bottom: 0;
		}

		footer .footer-block{
			margin-bottom: 30px;
		}

		footer a{
			color: #188b87;
		}

		footer .footer-menu a{
			text-transform: uppercase;
		}

		.copyright {
			color : white;
		}

		#app-container {
			margin-top: 100px;
		}
		
		[v-cloak] {
			display: none;
		}

		.btn-success-basic, .upvote-button, .upvote-disabled-button {
			border: solid 1px #449d44;
			color : #449d44;
			background-color: white;
		}

		.btn-success-basic:hover, .upvote-button:hover, .upvote-disabled-button:hover {
			background-color: #449d44;
			color : white;
		}
	
		.btn-danger-basic:hover, .downvote-button:hover, .downvote-disabled-button:hover {
			background-color: #d9534f;
			color : white;	
		}

		.btn-danger-basic, .downvote-button, .downvote-disabled-button {
			border: solid 1px #d9534f;
			color : #d9534f;
			background-color: white;	
		}
	
		.btn-warning-basic {
			background-color: white;
			color: #f0ad4e;
			border: solid 1px #f0ad4e;
		}

		.btn-warning-basic:hover {
			background-color: #f0ad4e;
			color: white;
			border: solid 1px #f0ad4e;
		}

		.btn-info-basic {
			background-color: white;
			color : #5bc0de;
			border: solid 1px #5bc0de;
		}

		.btn-info-basic:hover {
			background-color: #5bc0de;
			color : white;
			border: solid 1px #5bc0de;
		}

		.btn-primary-basic {
			background-color: white;
			color: #337ab7;
			border: solid 1px #337ab7;
		}

		.btn-primary-basic:hover {
			background-color: #337ab7;
			color: white;
			border: solid 1px #337ab7;
		}

		.current-user-board {
			border: solid 2px #449d44;
		}
		
		div.bootstrap-tagsinput {
			float:right; 
			width: 100%;
		}

		.tags-input input {
			width: 100% !important;
			float:right !important; 
		}
		
		.taggle_placeholder {
			left: 25px !important;
			color: #949494;
		}

		#tagsinput {
			padding-top: 7px !important;
			overflow-y: auto;
		}

		.taggle_list {
			padding-left : 5px;
		}

		body {
			background-color: #dddfe2;
			padding-top: 65px;
		}

		.board-topic {
			max-height: 230px;
			overflow-y: scroll; 
		}

		.board-list-container {
			max-height: 800px;
			overflow-y: scroll;
			padding : 5px;
		}

		.search-input {
			margin-bottom: 25px;
		}

		.board-title {
			margin-top: 5px;
		}
		

		.footer {
			margin-top: 25px;
			background-color: #101010;
			height: 60px;
		}

		.selected-upvote {
			background-color: #11CE17;
			color: white;
		}

		.selected-downvote {
			background-color: #FF0000;
			color: white;
		}

		.site-title {
			font-size: 25px;
			color: white;
		}

		.current-user-board {
			border: solid 2px green;
		}
		
		.panel-menu {
			border: solid 1px black;
		}
		
		.board-panel {
			min-height: 250px;
		}
		
	</style>

	
</head>
<body>
	<span id="app">
		<nav class="navbar navbar-inverse navbar-fixed-top">
		    <div class="container">
		        <div class="navbar-header">
		        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
		          	</button>
		          	<a class="navbar-brand" href="#">
		          		<span id="app-title" style="font-size: 25px; color: white;"><strong>Berargumen</strong></span>
		          	</a>
		        </div>
		        <div id="navbar" class="navbar-collapse collapse">
		          	<ul class="nav navbar-nav">
			            <li><a href="#">Tentang Berargumen</a></li>
		          	</ul>
	  	          	<ul class="nav navbar-nav navbar-right">
	  	          	</ul>	
		        </div><!--/.nav-collapse -->
		    </div>
		</nav>
		
		<!-- new -->
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<pagination-component
						:current-page="privateState.getCurrentPage()"
						:number-of-pages="privateState.getTotalPages()"
						:number-of-pagination-displayed="meta.numberOfPaginationDisplayed"
						@page-change="changePage"
					>
					</pagination-component>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-9">

							<div class="row" style="margin-bottom: 20px;">
								<div class="col-md-12">
									<input @keyup="setSearchQuery($event)" type="text" class="form-control" placeholder="Cari board berdasar Judul, Deskripsi, dan Tag">
								</div>
							</div>
							
							<div class="row board-list-container" v-if="!privateState.getLoadingState()">
								<board-component v-for="(board, index) in privateState.getBoards()" 
									:board="board" 
									:key="board.getId()"
									:index="index"
									:is-current-user-logged-in="privateState.getUserLoginState()"
									@vote-but-not-logged-in="voteButNotLoggedIn"
									@show-collaborator="showCollaborators"
									@change-board="showSubmitBoardModalToEdit"
									@delete-board="showDeleteModalConfirmation"
									@publish-board="publishBoard"
									@unpublish-board="unpublishBoard"
								>
								</board-component>
							</div>

							<div class="row" style="background-color: white;" v-if="privateState.getLoadingState()">
								<div class="col-md-12 text-center" style="padding: 50px;">
									<img width="140px" height="140px" src="/builds/css/circle-loading.gif" alt="">
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="row">
								<div class="col-md-12" v-if="privateState.getCurrentBoardCategory() == privateState.boardCategory.MY">
									<div class="panel panel-default panel-menu">
										<div class="panel-heading">
											<strong>Buat Board Anda</strong>
										</div>
										<div class="panel-body">
											<div class="row">
												<div class="col-md-12">
													<button v-if="!privateState.getUserLoginState()" @click="createBoardButNotLoggedIn()" class="btn btn-danger btn-block">Buat Board</button>
													<button v-if="privateState.getUserLoginState()" @click="showSubmitBoardModalToCreate()" class="btn btn-success btn-block">Buat Board</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="panel panel-default panel-menu">
										<div class="panel-heading">
											<strong>Login <span style="color: red;">(anda belum login)</span></strong>
										</div>
										<div class="panel-body">
											<div class="row">
												<div class="col-md-12">
													<button @click="showLoginModal()" class="btn btn-success btn-block">Login</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="panel panel-default panel-menu">
										<div class="panel-heading">
											<strong>Pilih Kategori Board</strong>
										</div>
										<div class="panel-body">
											<button 
												v-bind:disabled="privateState.getLoadingState()"
												
												@click="setCurrentBoardCategory(privateState.boardCategory.ALL)" 
												
												v-bind:class="{ 'btn-primary' : privateState.getCurrentBoardCategory() == 'all-board', 'btn-default' : privateState.getCurrentBoardCategory() != 'all-board' }"

												class="btn btn-block btn-sm"		
											>
												<strong>
													<span style="font-size: 15px;">Board Semua</span>
												</strong>
											</button>
											<button 
												v-bind:disabled="privateState.getLoadingState()"

												@click="setCurrentBoardCategory(privateState.boardCategory.MY)" 
												
												v-bind:class="{ 'btn-primary' : privateState.getCurrentBoardCategory() == 'my-board', 'btn-default' : privateState.getCurrentBoardCategory() != 'my-board' }"

												class="btn btn-block btn-sm"
											>
												<strong>
													<span style="font-size: 15px;">Board Saya</span>
												</strong>
											</button>
											<button 
												v-bind:disabled="privateState.getLoadingState()"

												@click="setCurrentBoardCategory(privateState.boardCategory.COLLABORATED)"
												
												v-bind:class="{ 'btn-primary' : privateState.getCurrentBoardCategory() == 'collaborated-board', 'btn-default' : privateState.getCurrentBoardCategory() != 'collaborated-board' }"

												class="btn btn-block btn-sm"
											>
												<strong>
													<span style="font-size: 15px;">Board Kolaborasi</span>
												</strong>
											</button>
											<button 
												v-bind:disabled="privateState.getLoadingState()"
												
												@click="setCurrentBoardCategory(privateState.boardCategory.BOOKMARKED)" 
												
												v-bind:class="{ 'btn-primary' : privateState.getCurrentBoardCategory() == 'bookmarked-board', 'btn-default' : privateState.getCurrentBoardCategory() != 'bookmarked-board' }"

												class="btn btn-block btn-sm"
											>
												<strong>
													<span style="font-size: 15px;">Board Ditandai</span>
												</strong>
											</button>
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<topic-selector
										@topic-selected="onTopicSelected"
									>
										
									</topic-selector>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<pagination-component
						v-if="!privateState.getLoadingState()"
						:current-page="privateState.getCurrentPage()"
						:number-of-pages="privateState.getTotalPages()"
						:number-of-pagination-displayed="meta.numberOfPaginationDisplayed"
						@page-change="changePage"
					>
					</pagination-component>  
				</div>
			</div>
		</div>
		
		<footer style="margin-top: 10%;">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="footer-block">
							
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer-block text-center">
							<p>
								Berargumen adalah aplikasi untuk membuat diagram argumen.
							</p>
							<p class="copyright">
								© 2017 Berargumen.
							</p>
						</div>
					</div>
					<div class="col-md-4">
						<div class="footer-block">
							
						</div>
					</div>
				</div>
			</div>
		</footer>
		
		<modal-login v-bind:title="'Login'" v-bind:uniq-id="'login-modal'" ref="loginModal">
			<div class="col-md-12" v-if="messages.loginModal.error">
				<div class="alert alert-danger">
				  	<p style="color: red;"><strong>{{ messages.loginModal.content }}</strong></p>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<span style="font-size: 15px;">Anda bisa login dengan : </span>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<button class="btn btn-primary btn-block">Facebook</button>	
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</modal-login>
		
		<modal-collaborators v-bind:title="'Kolaborator'" v-bind:uniq-id="'collaborators-modal'" ref="collaboratorsModal">
			<collaborators-view v-bind:collaborators="privateState.getCollaboratorsToBeShown()"></collaborators-view>
		</modal-collaborators>

		<modal-submit-board 
			v-bind:title="meta.submitBoardModalTitle" 
			v-bind:uniq-id="'edit-board-modal'" 
			ref="submitBoardModal"
			@on-hidden="resetBoardFormState"
		>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Judul Board</label>
					<input type="text" class="form-control" placeholder="Masukan judul board">
				</div>
				<div class="form-group">
					<label for="comment">Deskripsi Board</label>
					<textarea class="form-control" rows="5" placeholder="Masukan deskripsi board"></textarea>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<strong>Tags</strong>
					</div>
					<div class="col-md-12" style="margin-top: 5px;">
						<div style="border: solid 1px #cccccc; min-height: 150px;" id="tagsinput"></div>	
					</div>
					<div class="col-md-12">
						<span>Untuk menambah tags, masukan kata lalu tekan enter</span>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="margin-top: 10px;">
				<div class="pull-right">
					<button class="btn btn-success">Simpan Board</button>
					<button class="btn btn-danger" @click="hideSubmitBoardModal()">Tutup</button>
				</div>
			</div>
		</modal-submit-board>

		<modal-delete-board-confirmation v-bind:modal-size="'small'" v-bind:title="'Hapus Board ?'" v-bind:uniq-id="'delete-board-confirmation-modal'" ref="deleteBoardConfirmationModal">
			<div class="col-md-12">
				<div class="pull-right">
					<button class="btn btn-danger">Ya</button>
					<button class="btn btn-success">Tidak</button>
				</div>
			</div>
		</modal-delete-board-confirmation>

	</span>
	<script src="builds/js/index.js"></script>
</body>
</html>