<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<title>Berargumen</title>

	<link rel="stylesheet" href="/builds/css/bootstrap.css">
	<link rel="stylesheet" href="/builds/css/taggle.css">
	
	<style>
		footer{
			background: rgb(23,30,38);
			padding: 60px 20px;
		}

		footer ul, footer p{
			margin-bottom: 0;
		}

		footer .footer-block{
			margin-bottom: 30px;
		}

		footer a{
			color: #188b87;
		}

		footer .footer-menu a{
			text-transform: uppercase;
		}

		.copyright {
			color : white;
		}

		#app-container {
			margin-top: 100px;
		}
		
		[v-cloak] {
			display: none;
		}

		.btn-success-basic, .upvote-button, .upvote-disabled-button {
			border: solid 1px #449d44;
			color : #449d44;
			background-color: white;
		}

		.btn-success-basic:hover, .upvote-button:hover, .upvote-disabled-button:hover {
			background-color: #449d44;
			color : white;
		}
	
		.btn-danger-basic:hover, .downvote-button:hover, .downvote-disabled-button:hover {
			background-color: #d9534f;
			color : white;	
		}

		.btn-danger-basic, .downvote-button, .downvote-disabled-button {
			border: solid 1px #d9534f;
			color : #d9534f;
			background-color: white;	
		}
	
		.btn-warning-basic {
			background-color: white;
			color: #f0ad4e;
			border: solid 1px #f0ad4e;
		}

		.btn-warning-basic:hover {
			background-color: #f0ad4e;
			color: white;
			border: solid 1px #f0ad4e;
		}

		.btn-info-basic {
			background-color: white;
			color : #5bc0de;
			border: solid 1px #5bc0de;
		}

		.btn-info-basic:hover {
			background-color: #5bc0de;
			color : white;
			border: solid 1px #5bc0de;
		}

		.btn-primary-basic {
			background-color: white;
			color: #337ab7;
			border: solid 1px #337ab7;
		}

		.btn-primary-basic:hover {
			background-color: #337ab7;
			color: white;
			border: solid 1px #337ab7;
		}
		
		div.bootstrap-tagsinput {
			float:right; 
			width: 100%;
		}

		.tags-input input {
			width: 100% !important;
			float:right !important; 
		}
		
		.taggle_placeholder {
			left: 25px !important;
			color: #949494;
		}

		#tagsinput {
			padding-top: 7px !important;
			overflow-y: auto;
		}

		.taggle_list {
			padding-left : 5px;
		}

		body {
			background-color: white;
			padding-top: 65px;
		}

		.board-topic {
			max-height: 230px;
			overflow-y: scroll; 
		}

		.board-list-container {
			max-height: 800px;
			overflow-y: scroll;
			padding : 5px;
			margin-top: 30px;
			margin-bottom: 50px;
		}

		.search-input {
			margin-bottom: 25px;
		}

		.board-title {
			margin-top: 5px;
		}
		

		.footer {
			margin-top: 25px;
			background-color: #101010;
			height: 60px;
		}

		.selected-upvote {
			background-color: #11CE17;
			color: white;
		}

		.selected-downvote {
			background-color: #FF0000;
			color: white;
		}

		.site-title {
			font-size: 25px;
			color: white;
		}

		.current-user-board {
			border: solid 2px green;
		}
		
		.panel-menu {
			border: solid 1px black;
		}
		
		.board-panel {
			min-height: 250px;
		}

		[v-cloak] {
			display: none;
		}
		
		.fade-enter-active, .fade-leave-active {
		  transition: opacity .5s
		}
		.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
		  opacity: 0
		}

		.create-argument-button {
        	margin-top: 5px;
        }

		.creator-image-box-text {
            display : inline-block;
            padding-top: 1px;
            margin-top: 0px;
            margin-left: 10px;
        }

        .creator-image-box {
            margin-top: 20px;
        }

		.creator-image {
            position: relative;
            top: -17px;
            display : inline-block;
        }

		.search-input {
            width: 500px !important;
            margin-left: 150px !important;
        }

		 .reason-count {
            color : black;
            border: solid 2px green;
            padding: 3px;
            border-radius: 5px;
            font-size: 13px;
        }

        .objection-count {
            color : black;
            border: solid 2px red;
            padding: 3px;
            border-radius: 5px;
            font-size: 13px;
        }

        .rebuttal-count {
            color : black;
            border: solid 2px orange;
            padding: 3px;
            border-radius: 5px;
            font-size: 13px;
        }

        .board-spec {
            display : inline-block;
            font-weight : 800;
        }

        .arguers-count {
            color : black;
            border: solid 2px blue;
            padding: 3px;
            border-radius: 5px;
            font-size: 13px;
        }

		.board-description-box {
			margin-top: 20px;
		}

		.menu-button-box {
			margin-top: 20px;
		}

		.board-description p {
            letter-spacing: 1px;
            font-weight: 500;
        }

		.brand {
            font-weight: 900;
            font-size: 23px;
            color: white;
        }

		.board-title-box {
			margin-top: 20px;
		}

	</style>

	
</head>
<body>
	<span id="app">
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">
						<span class="brand">Berargumen</span>
					</a>
				</div>

				<div class="navbar-collapse collapse" id="navbar-collapsible">
					<div class="navbar-form navbar-right btn-group">
						<button @click="showLoginModal()" class="btn btn-default">Login</button>
					</div>

					<form class="navbar-form">
						<div class="form-group" style="display:inline;">
							<div class="input-group">
								<input @keyup="setSearchQuery($event)" placeholder="Cari argumen berdasar judul, deskripsi, dan tag" class="form-control search-input" type="text">
								<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
							</div>
						</div>
					</form>
				</div>
			</div>
		</nav>
		
		<!-- new -->
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default panel-menu">
								<div class="panel-heading">
									Pilih Kategori Board
								</div>
								<div class="panel-body">
									<button 
										v-bind:disabled="privateState.getLoadingState()"
										
										@click="setCurrentBoardCategory(privateState.boardCategory.ALL)" 
										
										v-bind:class="{ 'btn-primary' : privateState.getCurrentBoardCategory() == 'all-board', 'btn-default' : privateState.getCurrentBoardCategory() != 'all-board' }"

										class="btn btn-block btn-sm"		
									>
										<strong>
											<span>Semua Argumen</span>
										</strong>
									</button>
									<button 
										v-bind:disabled="privateState.getLoadingState()"

										@click="setCurrentBoardCategory(privateState.boardCategory.MY)" 
										
										v-bind:class="{ 'btn-primary' : privateState.getCurrentBoardCategory() == 'my-board', 'btn-default' : privateState.getCurrentBoardCategory() != 'my-board' }"

										class="btn btn-block btn-sm"
									>
										<strong>
											<span>Argumen yang saya buat</span>
										</strong>
									</button>
									<button 
										v-bind:disabled="privateState.getLoadingState()"

										@click="setCurrentBoardCategory(privateState.boardCategory.COLLABORATED)"
										
										v-bind:class="{ 'btn-primary' : privateState.getCurrentBoardCategory() == 'collaborated-board', 'btn-default' : privateState.getCurrentBoardCategory() != 'collaborated-board' }"

										class="btn btn-block btn-sm"
									>
										<strong>
											<span>Argumen yang saya ikuti</span>
										</strong>
									</button>
									<button 
										v-bind:disabled="privateState.getLoadingState()"
										
										@click="setCurrentBoardCategory(privateState.boardCategory.BOOKMARKED)" 
										
										v-bind:class="{ 'btn-primary' : privateState.getCurrentBoardCategory() == 'bookmarked-board', 'btn-default' : privateState.getCurrentBoardCategory() != 'bookmarked-board' }"

										class="btn btn-block btn-sm"
									>
										<strong>
											<span>Argumen yang saya tandai</span>
										</strong>
									</button>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<topic-selector
								@topic-selected="onTopicSelected"
							>
							</topic-selector>
						</div>
					</div>
				</div>
				<div class="col-md-7">
					<div class="row">
						<div class="col-md-12">
							<div class="create-board-box">
								<h4><strong>Buat Argumen Anda !!!!</strong></h4>
								<button v-if="!privateState.getUserLoginState()" @click="createBoardButNotLoggedIn()" class="btn btn-success btn-sm create-argument-button">Buat Argumen</button>
-								<button v-if="privateState.getUserLoginState()" @click="showSubmitBoardModalToCreate()" class="btn btn-success btn-sm create-argument-button">Buat Argumen</button>
							</div>
                    	</div>
						<div class="col-md-12">
							<div 
								class="row board-list-container" 
								v-infinite-scroll="loadMoreBoards"
								infinite-scroll-disabled="stillLoadingMore"
							>
								<transition-group name="fade">
									<board-component v-for="(board, index) in privateState.getBoards()" 
										:board="board" 
										:key="board.getId()"
										:index="index"
										:is-current-user-logged-in="privateState.getUserLoginState()"
										@vote-but-not-logged-in="voteButNotLoggedIn"
										@show-collaborator="showCollaborators"
										@change-board="showSubmitBoardModalToEdit"
										@delete-board="showDeleteModalConfirmation"
										@publish-board="publishBoard"
										@unpublish-board="unpublishBoard"
										v-if="!privateState.getLoadingState()"
									>
									</board-component>
								</transition>
							</div>
						</div>
						<transition name="fade">
							<div  v-if="privateState.getLoadingState()" class="col-md-12 text-center" style="padding: 50px;">
								<img width="140px" height="140px" src="/builds/css/circle-loading.gif" alt="">
							</div>
						</transition>
					</div>
				</div>
			</div>
		</div>

		<modal-login v-bind:title="'Login'" v-bind:uniq-id="'login-modal'" ref="loginModal">
			<div class="col-md-12" v-if="messages.loginModal.error">
				<div class="alert alert-danger">
				  	<strong>{{ messages.loginModal.content }}</strong>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3"></div>
					<div class="col-md-6">
						<div class="panel panel-default">
							<div class="panel-heading">
								<span style="font-size: 15px;">Anda bisa login dengan : </span>
							</div>
							<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<button @click="facebookLogin()" class="btn btn-primary btn-block">Facebook</button>	
									</div>
								</div>	
							</div>
						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</modal-login>
		
		<modal-collaborators v-bind:title="'Kolaborator'" v-bind:uniq-id="'collaborators-modal'" ref="collaboratorsModal">
			<collaborators-view v-bind:collaborators="privateState.getCollaboratorsToBeShown()"></collaborators-view>
		</modal-collaborators>

		<modal-submit-board 
			v-bind:title="meta.submitBoardModalTitle" 
			v-bind:uniq-id="'edit-board-modal'" 
			ref="submitBoardModal"
			@on-hidden="resetBoardFormState"
		>
			<div class="col-md-12">
				<div class="form-group">
					<label for="">Kesimpulan</label>
					<textarea class="form-control" rows="2" placeholder="Isikan sebuah kesimpulan seperti 'Bumi itu datar'"></textarea>
				</div>
				<div class="form-group">
					<label for="comment">Deskripsi</label>
					<textarea class="form-control" rows="5" placeholder="Isikan deskripsi"></textarea>
				</div>
			</div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
						<strong>Tags</strong>
					</div>
					<div class="col-md-12" style="margin-top: 5px;">
						<div style="border: solid 1px #cccccc; min-height: 150px;" id="tagsinput"></div>	
					</div>
					<div class="col-md-12">
						<span>Untuk menambah tags, masukan kata lalu tekan <strong>enter</strong></span>
					</div>
				</div>
			</div>
			<div class="col-md-12" style="margin-top: 10px;">
				<div class="pull-right">
					<button class="btn btn-success">Simpan Argumen</button>
					<button class="btn btn-danger" @click="hideSubmitBoardModal()">Tutup</button>
				</div>
			</div>
		</modal-submit-board>

		<modal-delete-board-confirmation v-bind:modal-size="'small'" v-bind:title="'Hapus Board ?'" v-bind:uniq-id="'delete-board-confirmation-modal'" ref="deleteBoardConfirmationModal">
			<div class="col-md-12">
				<div class="pull-right">
					<button class="btn btn-danger">Ya</button>
					<button class="btn btn-success">Tidak</button>
				</div>
			</div>
		</modal-delete-board-confirmation>

	</span>
	<script src="builds/js/index.js"></script>
</body>
</html>