<div class="col-md-12">
	<div class="row">
		<div class="col-md-3" v-for="collaborator in collaborators">
			<div class="panel panel-default">
				<div class="panel-body text-center">
					<div class="row">
						<div class="col-md-12">
							<img v-bind:src="collaborator.getProfilePictureUrl()" width="50px" height="50px" class="img-circle">
						</div>
					</div>
				</div>
				<div class="panel-footer text-center">
					<span class="collaborator-name">{{ collaborator.getName() }}</span>
				</div>
			</div>
		</div>
	</div>
</div>